header {
    background-image: url(images/Star-Wars-Logo.png);
    margin: 0px auto;
    width: 960px;
    height: 210px;
}

header > img {
    width: 250px;
    float: left;
    margin: 10px;
}

h1 {
    color: white;
    text-align: center;
    padding: 30px;
    margin-right: 50px;
}

nav {
    float: right;
    margin-right: 50px;
}

li {
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

main {
    margin: 0px auto;
    width: 960px;
}

article {
    display: inline-block;
    width: 310px;
    border: 1px solid black;
    vertical-align: top;
    height: 350px;
}

img {
    width:300px;
}

p {
    color: rgba(37,142,255,1);
}

footer {
    margin: 0px auto;
    width: 960px;
    text-align: right;
}